Repository logicalclocks/maggy, pull requests merged in 2020-09, with the labels that each got.

#65 Upgrade Ablation for TF2.2
  examples/maggy-ablation-titanic-example.ipynb
  maggy/ablation/ablator/loco.py
Labels: ablation, core

#59 [core] Initialize custom ablator with final_store of exp_driver
  maggy/core/experimentdriver.py
Labels: bug, core

#64 Bayesian Optimization and Pruners
  maggy/core/experimentdriver.py
  maggy/experiment.py
  maggy/optimizer/abstractoptimizer.py
  maggy/optimizer/asha.py
  maggy/optimizer/bayes/__init__.py
  maggy/optimizer/bayes/acquisitions.py
  maggy/optimizer/bayes/base.py
  maggy/optimizer/bayes/gp.py
  maggy/optimizer/bayes/tpe.py
  maggy/optimizer/randomsearch.py
  maggy/pruner/__init__.py
  maggy/pruner/abstractpruner.py
  maggy/pruner/hyperband.py
  maggy/searchspace.py
  maggy/trial.py
  setup.py
Labels: WIP, core, enhancement, optimization

#67 [optimization] Fix init of num trials with pruner
  maggy/core/experimentdriver.py
Labels: bug, optimization
