Repository logicalclocks/maggy, pull requests merged in 2021-02, with the labels that each got.

#82 Switch ablation from hops to hsfs client
  maggy/ablation/ablator/loco.py
Labels: ablation

#84 Torch distributed support
  .pre-commit-config.yaml
  examples/maggy-mnist-example.ipynb
  examples/maggy-torch-dist-example.ipynb
  maggy/core/executors/Executor.py
  maggy/core/executors/__init__.py
  maggy/core/executors/dist_executor.py
  maggy/core/executors/trial_executor.py
  maggy/core/experiment_driver/AblationDriver.py
  maggy/core/experiment_driver/DistributedDriver.py
  maggy/core/experiment_driver/Driver.py
  maggy/core/experiment_driver/OptimizationDriver.py
  maggy/core/rpc.py
  maggy/distributed/__init__.py
  maggy/distributed/distributed_lagom.py
  maggy/distributed/patching.py
  maggy/experiment.py
  maggy/util.py
Labels: core, distributed-training, enhancement

#87 Add grid-search optimizer
  maggy/core/experiment_driver/OptimizationDriver.py
  maggy/optimizer/__init__.py
  maggy/optimizer/abstractoptimizer.py
  maggy/optimizer/gridsearch.py
Labels: optimization
